<template>
</template>

<script lang="ts">
  import {Component, Vue, Watch} from "vue-property-decorator";
    import DataExportService from "../../Services/DataExportService";
    import {Getter, Mutation} from "vuex-class";
    import {SectionInterface} from "../../Interfaces/SectionInterface";
  import {fileName, lattice} from '@/Services/helpers/VuexGetters';
    import {HotKeyCtrlActions} from "@/Services/HotKeyService";
    import {EventBus} from "@/Services/helpers/EventBus";

  @Component export default class ExportButton extends Vue {
    @Getter('sections') sections: SectionInterface[];
    @Getter('fileName') fileName: string;
    @Mutation('updateFileName') updateFileName: (fileName: string) => {};

    dataExportService = new DataExportService();

    mounted() {
      EventBus.$on(HotKeyCtrlActions.s, this.exportContent);
      EventBus.$on(HotKeyCtrlActions.l, this.exportLattice);
    }

    destroyed () {
      EventBus.$off(HotKeyCtrlActions.s, this.exportContent);
      EventBus.$off(HotKeyCtrlActions.l, this.exportLattice);
    }

    /**
     * išsaugoti transkripciją
     */
    exportContent = () => {
      return this.downloadTextData(this.dataExportService.generateExportedData());
    };

    /**
     * išsaugoti tekstą
     */
    exportLattice = () => {
      return this.downloadTextData(lattice(), 'lattice.txt');
    }

    downloadTextData = (textData: string, filename?: string) => {
      filename = filename ?? fileName() + '.txt';
      const fileDownload = require('js-file-download');
      fileDownload(textData, filename);
    }
  }
</script>

<style scoped>
</style>