<template>
</template>

<script lang="ts">
  import { Component, Vue } from "vue-property-decorator";
  import {redoUserAction} from "@/Services/helpers/VuexMutations";
  import { recentRedoAction } from "@/Services/helpers/VuexGetters";
  import { HotKeyCtrlActions } from "@/Services/HotKeyService";
  import { EventBus } from "@/Services/helpers/EventBus";

  @Component export default class RedoButton extends Vue {

    mounted() {
      EventBus.$on(HotKeyCtrlActions.y, this.redo);
    }

    destroyed () {
      EventBus.$off(HotKeyCtrlActions.y, this.redo);
    }

    redo = () => {
      const recentAction = recentRedoAction();
      if (!recentAction || !Object.keys(recentAction).length) {
        return;
      }
      redoUserAction();
      this.$nextTick(() => {
        recentAction.selection.resetSelection();
      });
    };
  }
</script>

<style scoped>
</style>