<template>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import {undoUserAction} from "@/Services/helpers/VuexMutations";
  import { recentUndoAction } from "@/Services/helpers/VuexGetters";
  import {HotKeyCtrlActions} from "@/Services/HotKeyService";
  import {EventBus} from "@/Services/helpers/EventBus";

  @Component export default class UndoButton extends Vue {

    mounted() {
      EventBus.$on(HotKeyCtrlActions.z, this.undo);
    }

    destroyed () {
      EventBus.$off(HotKeyCtrlActions.z, this.undo);
    }

    undo = () => {
      const recentAction = recentUndoAction();
      if (!recentAction || !Object.keys(recentAction).length) {
        return;
      }
      undoUserAction();
      this.$nextTick(() => {
        recentAction.selection.resetSelection();
      });
    };
  }
</script>

<style scoped>
</style>