<template>
  <div id="app">
    <Modal v-if="showModal" :header="modalHeader" :body="modalBody" @close="() => {key = key + 1; showModal = false;}" />
    <vue-confirm-dialog></vue-confirm-dialog>
    <div class="file-upload" v-if="!sections.length || !media">
      <label @dragover.prevent @drop.prevent.stop="onFileInput($event.dataTransfer.files)">
          <span class="upload-label">{{$t("import.upload")}}
            <span class="browse">{{$t("import.drop")}}</span>
          </span>
          <input :key="key" type="file" @change="onFileInput($event.target.files)" class="hidden" multiple />
      </label>
    </div>
    <h3 v-if="sections.length || media">
      <span v-if="fileName">{{$t("import.loaded_file_name")}}: <strong>{{fileName}}.txt</strong></span>
      <span v-else>{{$t("import.phonogram_not_loaded")}}</span>
      <a class="removeButton" v-if="media" href="" @click.prevent.stop="openNewAudio">{{$t("import.open_new_audio_file")}}</a>
      <a class="removeButton" v-if="fileName" href="" @click.prevent.stop="openNewTranscription">{{$t("import.open_new_transcription")}}</a>
    </h3>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import {Getter, Action, Mutation} from 'vuex-class';
import { SectionInterface } from '@/Interfaces/SectionInterface';
import TranscriptionParseService from '@/Services/TranscriptionParserService';
import router from "@/router";
import {setMediaAndLength} from "@/Services/helpers/VuexMutations";
import UndoService from "@/Services/UndoService";

@Component({
  components: {
  }
})
export default class FileImport extends Vue {

  @Getter('media') media: HTMLMediaElement;
  @Getter('sections') sections: SectionInterface[];
  @Getter('transcriptionLength') transcriptionLength: number;
  @Getter('mediaLength') mediaLength: number;
  @Getter('fileName') fileName: string;
  @Getter('undoQueue') undoQueue: UndoService[];

  @Mutation('setMediaObjectUrl') setMediaObjectUrl: (objectUrl: string) => void;
  @Mutation('setSections') setSections: (sections: SectionInterface[]) => void;
  @Mutation('setTranscriptionLength') setTranscriptionLength: (transcriptionLength: number) => void;
  @Mutation('setMediaLength') setMediaLength: (mediaLength: number) => void;
  @Mutation('updateFileName') updateFileName: (fileName: string) => void;

  @Action('cleanTextData') cleanTextData: () => void;
  @Action('cleanMediaData') cleanMediaData: () => void;
  @Action('deleteEmptySectionsAndOrderSectionIds') deleteEmptySectionsAndOrderSectionIds: () => void;

  showModal: boolean = false;
  modalHeader: string = null;
  modalBody: string = null;

  key: number = 1; //templeito elementui priskiriamas dinaminis key, kad galėtume refreshinti file inut lauką

  //stebim įkeltus failus ir redirectinam į transkripcijos tekstą
  @Watch('$store.getters.sections')
  onSectionsChange (val, oldval) {
    if (oldval.length === 0 && val.length > 0 && this.media !== null) {
      this.$nextTick(() => {
        router.push({ name: 'transcription-edit', params: { locale: this.$i18n.locale }});
      })
    }
  }
  @Watch('$store.getters.media')
  onMediaChange (val, oldval) {
    if (oldval === null && val !== null && this.sections.length > 0) {
      this.$nextTick(() => {
        router.push({ name: 'transcription-edit', params: { locale: this.$i18n.locale }});
      })
    }
  }

  openNewTranscription () {
    if (this.undoQueue && this.undoQueue.length) {
      //@ts-ignore
      this.$vueConfirm.confirm(
        {
          title: this.$t("messages.confirm").toString(),
          auth: false,
          message: this.$t("import.confirm_new_files").toString(),
          button: {
            no: this.$t("messages.no").toString(),
            yes: this.$t("messages.yes").toString()
          }
        },
        (confirm) => {
          if (confirm) {
            this.cleanTextData();
          }
        }
      )
    } else {
      this.cleanTextData();
    }
  }

  openNewAudio() {
    this.cleanMediaData();
  }

  async onFileInput (files: FileList) {
    for (const file of files) {
      const objType = file.type.split('/')[0];
      if (['audio', 'video'].includes(objType)) {
        this.cleanMediaData();
        const objectUrl = URL.createObjectURL(file);
        if (objType == 'video') {
          this.setMediaObjectUrl(objectUrl);
        }
        setMediaAndLength(new Audio(objectUrl));
      } else if (objType === 'text') {
        await this.openTextFileWithConfirmation(file);
      } else {
        this.$notify({
          text: this.$t("messages.invalid_file_format", {file_name: file.name}).toString(),
          type: 'error',
        })
      }
    }
  }

  /**
   * patikrinam ar nera redaguotu operaciju
   */
  async openTextFileWithConfirmation(file: File) {
    if (this.undoQueue && this.undoQueue.length) {
      //@ts-ignore
      this.$vueConfirm.confirm(
        {
          title: this.$t("messages.confirm").toString(),
          auth: false,
          message: this.$t("import.confirm_new_files").toString(),
          button: {
            no: this.$t("messages.no").toString(),
            yes: this.$t("messages.yes").toString()
          }
        },
        async (confirm) => {
          if (!confirm) {
            return;
          }
          await this.verifyAndOpenTextFile(file)
        }
      )
    } else {
      await this.verifyAndOpenTextFile(file)
    }
  }

  /**
   * patikrinam ar transkripcijoje nera klaidu ir paklausiam ar importuoti su klaidomis
   */
  async verifyAndOpenTextFile (file: File) {
    this.cleanTextData();
    const tp = new TranscriptionParseService(file);
    const sections = await tp.getSections();
    const fileName = file.name.replace('.txt', '');
    const transcriptionLength = await tp.getTranscriptionLength()

    if (tp.parseErrors.length > 0) {
      //@ts-ignore
      this.$vueConfirm.confirm(
        {
          title: this.$t("messages.confirm").toString(),
          auth: false,
          message: this.$t("import.imported_file_errors_message", {file_name: file.name, error_count: tp.parseErrors.length}).toString(),
          button: {
            no: this.$t("messages.view_errors").toString(),
            yes: this.$t("messages.import_anyway").toString()
          }
        },
        async (confirm) => {
          if (!confirm) {
            this.showModal = true;
            this.modalBody = tp.parseErrors.map(error => this.$t("import.line", {file_name: file.name}).toString() + ': ' + error.line + ' ' + error.message + ' (' + error.content + ')').join('\n');
            this.modalHeader = this.$t("import.file_parse_errors_header", {file_name: file.name}).toString();
          } else {
            this.updateStateWithImportedFileData(sections, fileName, transcriptionLength)
          }
        }
      )
    } else {
      this.updateStateWithImportedFileData(sections, fileName, transcriptionLength)
    }
  }

  /**
   * su klaidomis sutiko, arba klaidų nebuvo, reikia updatinti state
   * @param sections
   * @param fileName
   * @param transcriptonLength
   */
  updateStateWithImportedFileData(sections: SectionInterface[], fileName: string, transcriptonLength: number) {
    this.setSections(sections);
    this.deleteEmptySectionsAndOrderSectionIds();
    this.updateFileName(fileName)
    this.setTranscriptionLength(transcriptonLength);
  }

  async readMediaFile(file: File): Promise<string> {
    const reader = new FileReader();
    return new Promise((resolve, reject) => {
      reader.onload = (event: any) => resolve(event.target.result);
      reader.onerror = error => reject(error);
      reader.readAsDataURL(file);
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  .file-upload {
    position: relative;
    border: 1px solid gray;
    box-sizing: border-box;
    width: 30%;
    height: 100px;
    margin: 0 auto;


    label {
      display: block;
      margin:0 auto;

      input {
        display:none;
      }
      .upload-label {
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: darkslategray;
        font-weight: 700;
        .browse {
          margin-top: 20px;
          font-size: smaller;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
    }



  }
  #db-area {
    margin-top: 25px;
    border-top:1px solid gray;
    clear: both;
    padding-top: 25px
  }

  h3 {
    a {
      color: #FBC02D;
      position: relative;
      left: auto;
      clear: both;
      display: block;
      margin: 10px;
    }
    span {
      margin: 15px;
      display: block;
      clear: both;
      font-size: 0.7em;
      font-weight: normal;
    }
  }
</style>
