<template>
  <h1 v-html="message" />
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import {Getter, Action} from 'vuex-class';
import { SectionInterface } from '../../Interfaces/SectionInterface';
import TranscriptionParseService from '@/Services/TranscriptionParserService';
import router from "@/router";
import {
  setMediaAndLength,
  setSections,
  setTranscriptionLength, updateFileName
} from "@/Services/helpers/VuexMutations";
import {base64encode} from "@/Services/helpers/base64";

const axios = require('axios').default;

@Component export default class RemoteImport extends Vue {

  @Action('cleanTextData') cleanTextData: () => void;
  @Action('cleanMediaData') cleanMediaData: () => void;

  @Getter('media') media: HTMLMediaElement;
  @Getter('sections') sections: SectionInterface[];

  message: string = this.$t("remote_import.loading_files").toString()
  phonogramUrl: string = null;
  latticeUrl: string = null;

  //stebim įkeltus failus ir redirectinam į redaktorių
  @Watch('$store.getters.sections')
  onSectionsChange (val, oldval) {
    if (oldval.length === 0 && val.length > 0 && this.media !== null) {
      this.$nextTick(() => {
        router.push({ name: 'transcription-edit', params: { locale: this.$i18n.locale }});
      })
    }
  }
  @Watch('$store.getters.media')
  onMediaChange (val, oldval) {
    if (oldval === null && val !== null && this.sections.length > 0) {
      this.$nextTick(() => {
        router.push({ name: 'transcription-edit', params: { locale: this.$i18n.locale }});
      })
    }
  }

  mounted () {
    const {lattice, phonogram} = this.$route.params;

    this.cleanTextData();
    this.cleanMediaData();

    this.phonogramUrl = phonogram;
    this.latticeUrl = lattice;

    this.loadPhonogram();
    this.loadTranscription();
  }

  async loadTranscription() {
    this.fetchUrl(this.latticeUrl).then(({data}) => {
      if (data) {
        const tp = new TranscriptionParseService(data);
        tp.getSections().then(data => setSections(data));
        tp.getTranscriptionLength().then(data => setTranscriptionLength(data));
        updateFileName(this.latticeUrl.split('/').pop()); //yra tikimasi, kad lattice url turi savyje failo pavadinimą su plėtiniu
      } else {
        this.message += '<br /><span class="error">';
        this.message += this.$t("messages.transcription_load_error").toString();
        this.message += '</span>';
        throw new Error(this.$t("messages.transcription_load_error").toString());
      }
    }).catch(e => {
      this.message += '<br /><span class="error">';
      this.message += this.$t("messages.transcription_load_error").toString();
      this.message += '</span>';      
      this.$notify({
        text: e.message,
        type: 'error',
      })
    });
  }

  /**
   * fetch data from url
   * @param {string} dataUrl
   */
  fetchUrl = async (dataUrl: string) => {
    return await axios.get(dataUrl);
  }

  /**
   * atsiunčiama ir įkraunama fonograma
   **/
  async loadPhonogram() {
    const mediaFileExtension = await this.getMediaFileExtension(); //yra numanoma, kad media url gali neturėti nurodyto plėtinio, todėl bandoma jį nuspėti ar nuskaityti headeryje
    this.fetchUrl(this.latticeUrl).then(({data}) => {
      if (data) {
        const base64Media = "data:audio/" + mediaFileExtension + ";base64," + base64encode(data); //todo support video
        setMediaAndLength(new Audio(this.phonogramUrl)); //kaip audio source galima nurodyti base64Audio kintamąjį
        // setMediaFile(base64Media);
        // setMediaFileExtension(mediaFileExtension);
      } else {
        this.message += '<br /><span class="error">';
        this.message += this.$t("messages.audio_load_error").toString();
        this.message += '</span>';
        throw new Error(this.$t("messages.audio_load_error").toString());
      }
    }).catch(e => {
      console.error(e)
      this.message += '<br /><span class="error">';
      this.message += this.$t("messages.audio_load_error").toString();
      this.message += '</span>';
      this.$notify({
        text: this.$t("messages.audio_load_error").toString(),
        type: 'error',
      })
    })
  }

  /**
   * nustatomas media failo plėtinys
   * todo also support video file extensions
   */
  async getMediaFileExtension (): Promise<string> {
    let mediaFileExtension = 'wav';
    const downloadHeaders = await axios.head(this.phonogramUrl);
    const {headers} = downloadHeaders;
    if (headers && headers['content-disposition']) {
      if (headers['content-disposition'].includes('.mp3')) {
        console.debug("mp3 audio detected")
        mediaFileExtension = 'mp3'
      }
      if (headers['content-disposition'].includes('.m4a')) {
        console.debug("m4a audio detected")
        mediaFileExtension = 'm4a'
      }
    }
    return mediaFileExtension;
  }
}

</script>

<style lang="scss" scoped>
  .error {
    color:red;
  }
</style>