<template>
  <div>
    <h1>{{$t("browser_unsup.browser_not_supported")}}</h1>
    <h3>{{$t("browser_unsup.please_download_supported_browser")}}</h3>

    <p><a target="_blank" href="https://www.google.com/chrome/">„Google Chrome“</a></p>
    <p><a target="_blank" href="https://www.mozilla.org/en-US/firefox/new/">„Firefox“</a></p>
    <p><a target="_blank" href="https://www.opera.com/download">„Opera“</a></p>
  </div>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from 'vue-property-decorator';
  @Component
  export default class BrowserNotSupported extends Vue {
    @Prop({default: null}) version: number;

    mounted() {}
  }
</script>

<style scoped lang="scss">
  h1 {
    text-align: center;
    background-color: black;
    color:white;
    padding: 5px 5px 5px 10px;
  }
  h3 {
    text-align: left;
    margin: 0;
    padding: 0;
  }
  p{
    text-align: center;
  }
</style>