<template>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import {HotKeyCtrlActions} from "@/Services/HotKeyService";
  import {EventBus} from "@/Services/helpers/EventBus";
  import {caretPosition} from "@/Services/helpers/VuexGetters";

  @Component export default class ClipboardEventsListener extends Vue {

    mounted () {
      //registruojam copy eventą prie handleCopy metodo
      EventBus.$on(HotKeyCtrlActions.c, this.handleCopy);
    }

    destroyed () {
      EventBus.$off(HotKeyCtrlActions.c, this.handleCopy);
    }

    handleCopy = (e: KeyboardEvent) => {
      const copiedText = window.getSelection().toString();
      //@ts-ignore
      this.$clipboard(copiedText)
      this.$nextTick(() => caretPosition().resetSelection())
    }
  }
</script>

<style scoped>

</style>