<template>
  <div id="locale-switcher">
    <select @change="switchLocale($event)" class="form-control">
      <option v-for="locale in locales" :key="locale" :value="locale" :selected="localeIsActive(locale)">
          {{locale}}
      </option>
    </select>
  </div>
</template>
<script lang="ts">
  import {Component, Vue, Watch} from 'vue-property-decorator';

  @Component export default class LocaleSwitcher extends Vue {

    /**
     * pateikia visų galimų lokalių masyvą iš .env failo
     * @returns string[]
     */
    get locales():string[] {
      return process.env.VUE_APP_I18N_SUPPORTED_LOCALE.split(',')
    }

    /**
     * atsako ar nusiųsta lokalė yra aktyvi
     * {string} locale
     * @returns boolean
     */
    localeIsActive (locale: string): boolean {
        return locale === this.$i18n.locale;
    }

    /**
     * pakeičia aktyvią lokalę
     * {Event e}
     */
    switchLocale(e: Event): void {
      //@ts-ignore
      const locale = e.target.value;
      if (this.$i18n.locale !== locale) {
        this.$i18n.locale = locale;
        const to = this.$router.resolve({ params: {locale} });
        this.$router.push(to.location);
      }
    }
  }
</script>

<style scoped>
  li {
    text-decoration: underline;
    color: #459CE7;
    cursor: pointer;
  }
  #locale-switcher{
    position: absolute;
    right: 20px;
    top:20px;
    display: block;
    z-index: 999;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
</style>