<template>
  <transition name="modal">
    <div class="modal-mask" @click="$emit('close')">
      <div class="modal-wrapper">
        <div class="modal-container" @click.stop.prevent>

          <div class="modal-header">
            <slot name="header">{{header || ''}}</slot>
          </div>

          <div class="modal-body">
            <slot name="body">{{body || ''}}</slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              {{footer || ''}}
              <button class="modal-default-button" @click="$emit('close')">
                {{$t("messages.ok")}}
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from "vue-property-decorator";

  @Component export default class Modal extends Vue {
    @Prop({default: null}) header: string;
    @Prop({default: null}) body: string;
    @Prop({default: null}) footer: string;
  }
</script>

<style lang="scss">
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .modal-container {
    width: 40%;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }

  .modal-header {
    margin-top: 0;
    color: #333;
    font-weight: bold;
    border-bottom: 1px solid gray;
  }

  .modal-body {
    margin: 20px 0;
    white-space: pre;
  }

  .modal-default-button {
    float: right;
  }

  .modal-enter {
    opacity: 0;
  }

  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .modal-footer {
    white-space: pre;
  }
</style>