<template>
  <div id="paginatorComponent">
    <paginate v-if="pageCount > 1"
        :page-count="pageCount"
        :page-range="perPage"
        :margin-pages="2"
        v-model="curPage"
        :prev-text="this.$t('paginator.prev')"
        :next-text="this.$t('paginator.next')"
        :container-class="'pagination'"
        :page-class="'page-item'">
    </paginate>

    <div id="per-page" v-if="availablePerPage && availablePerPage.length > 1">
      <ul class="pagination">
        <li v-for="pp in availablePerPage"
            :key="pp"
            :class="{
            'page-item': true,
            'active': pp === perPage
          }"
            @click="() => null"
        ><a>{{pp}}</a></li>
      </ul>
    </div>
  </div>

</template>

<script lang="ts">
  import {Vue, Component} from "vue-property-decorator";
    import {Getter, Mutation} from "vuex-class";
  import {SectionInterface} from "@/Interfaces/SectionInterface";

    @Component export default class PaginatorComponent extends Vue {

      @Getter('perPage') perPage;
      @Getter('currentPage') currentPage;
      @Getter('pageCount') pageCount: number;
      @Getter('sections') sections: SectionInterface[];

      @Mutation('setCurrentPage') setCurrentPage;

      get curPage() {
        return this.currentPage
      }

      set curPage(val: number) {
        this.setCurrentPage(val)
      }

      get availablePerPage (): number[] {
        const maxSections = (this.sections.length < 10 ? 10 : this.sections.length);
        let ppArr = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, maxSections].filter(perPage => perPage <= maxSections);
        ppArr = ppArr.sort((a, b) => a - b); //grąžinam sortintą array
        return [...new Set(ppArr)] // grąžinam unikalius
      }
    }
</script>

<style lang="scss">
#paginatorComponent {
  position: fixed;
  bottom: 0;
  background-color: white;
  height: 30px;
  margin: 0;
  padding:20px 0;
  width: 100%;
  z-index: 999;

  #per-page {
    margin: 0px;
    padding: 0px;
    float: right;
    display: block;
  }
  .pagination {
    margin: 0px;
    padding: 0px;
    float: left;
    display: block;
    list-style-type: none;
    li {
      float: left;
      margin: 2px;
      line-height: 22px;
      text-align: center;
      cursor: pointer;
    }
    .page-item {
      min-width: 22px;
      width: auto;
      padding: 0 2px;
      height: 22px;
      border: 1px solid gray;

    }
    a {
      display: block;
      outline: 0px solid transparent;

      /* disable select */
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .disabled {
      color: gray;
      cursor: default;
    }
    .active {
      background-color: #ffefe4;
    }
  }
}

</style>