<template>
  <div id="player" v-if="false">
    <p>{{ noMediaOrWordSelected ? ' ' : selectedWordsTime }}</p>
  </div>
</template>
<script lang="ts">
  import {Component, Vue} from 'vue-property-decorator';
  import {Getter, Mutation} from 'vuex-class';
  import { WordInterface } from '../Interfaces/WordInterface';
  import {
    mediaLength,
    caretPosition,
    currentSelectionTimeLimits
  } from '@/Services/helpers/VuexGetters';
  import {HotKeyActions, HotKeyCtrlActions} from "@/Services/HotKeyService";
  import {EventBus} from "@/Services/helpers/EventBus";

  @Component export default class Player extends Vue {
    @Getter('media') media: HTMLMediaElement;
    @Getter('selectedWords') selectedWords: WordInterface[];
    @Getter('currentTime') currentTime: number;
    @Getter('mediaLength') mediaLength: number;
    @Getter('extendPlayingRange') extendPlayingRange: number;
    @Getter('playingMediaEnd') playingMediaEnd: number;
    @Getter('playingMediaStart') playingMediaStart: number;
    @Getter('modalIsVisible') modalIsVisible: boolean;

    @Mutation('updateCurrentTime') updateCurrentTime: () => void;
    @Mutation('setExtendPlayingRange') setExtendPlayingRange: (extendPlayingRange: boolean) => {};
    @Mutation('setPlayingMediaEnd') setPlayingMediaEnd: (playingMediaEnd: number) => void;
    @Mutation('setPlayingMediaStart') setPlayingMediaStart: (playingMediaStart: number) => void;
    @Mutation('needToSelectPlayingSegments') needToSelectPlayingSegments: (needToSelect: boolean) => void;

    mounted() {
      //klausomės eventų
      EventBus.$on(HotKeyCtrlActions.p, this.playPauseAction);
      EventBus.$on(HotKeyActions.Escape, this.stopMedia);
    }

    destroyed () {
      EventBus.$off(HotKeyCtrlActions.p, this.playPauseAction);
      EventBus.$off(HotKeyActions.Escape, this.stopMedia);

      this.stopMedia();
    }

    playPauseAction () {
      if (!this.media) {
        return;
      }
      if (this.media.paused) {
        this.playMedia();
      } else {
        this.stopMedia();
      }
    }

    /**
     * gaunamas pažymėtos teksto atkarpos laiko rėžis
     */
    get selectedWordsTime (): string {
      if (this.noMediaOrWordSelected) {
        return '';
      }
      return currentSelectionTimeLimits().start + '-' + currentSelectionTimeLimits().end;
    }

    stopMedia () {
      if (this.modalIsVisible) {
        return;
      }
      this.media && this.media.pause();
      this.setPlayingMediaEnd(null);
      this.setPlayingMediaStart(null);
      this.restoreCursorPositionFromState();
      this.setExtendPlayingRange(false);
      this.needToSelectPlayingSegments(true);
    }

    playMedia () {
      this.restoreCursorPositionFromState();
      //jeigu neturime visų parametrų, negrojam
      if (this.noMediaOrWordSelected || !this.media.paused) {
        this.stopMedia();
        return;
      }
      if (currentSelectionTimeLimits().start >= mediaLength()) {
        this.$notify({
          text: this.$t("player.inscufficient_length_audio_notification").toString(),
          type: 'error',
        });
        return;
      }
      this.calculateAndSetPlayingMediaEnd();
      if (this.extendPlayingRange || this.currentTime < currentSelectionTimeLimits().start || this.currentTime >=  currentSelectionTimeLimits().end - 0.5) {
        //jeigu currentTime patenka į paselectintą rėžį, tęsiam groti, kitaip nustatom naujai
        this.media.currentTime = currentSelectionTimeLimits().start;
      } else {
        this.media.currentTime = this.currentTime;
      }
      this.setPlayingMediaStart(this.media.currentTime);
      this.media.play();
      this.watchTime();
    }

    calculateAndSetPlayingMediaEnd () {
      //ar pažymėtas tik vienas segmentas?
      if (this.selectedWords && this.selectedWords.length === 1 && !this.extendPlayingRange) {
        this.setPlayingMediaEnd(this.mediaLength); // grosim iki galo
        this.needToSelectPlayingSegments(false);
      } else {
        this.setPlayingMediaEnd(currentSelectionTimeLimits().end - 0.005); //nustatom, kad grotų pažymėtų žodžių ribose
        this.needToSelectPlayingSegments(true);
      }
    }

    /**
    * kursoriaus padėtis atstatoma į prieš tai buvusią po play mygtuko paspaudimo
    */
    restoreCursorPositionFromState = () => {
      const selection = caretPosition();
      this.$nextTick(() => {
        if (!selection) {
          return;
        }
        selection.resetSelection();
        selection.removeSelection(true);
      });
    };

    //metodas sustabdo grojimą pasiekus nurodytą laiką
    watchTime () {
      this.updateCurrentTime();
      if (this.noMediaOrWordSelected && !this.modalIsVisible) {
        if (this.media && !this.media.paused) {
          this.stopMedia();
        }
        return;
      } else {
        setTimeout(() => {
          if (!this.media.currentTime === null || !this.playingMediaEnd === null || this.media.currentTime >= this.playingMediaEnd) {
            this.stopMedia();
            this.media.currentTime = currentSelectionTimeLimits().end - 0.001;
          } else {
            this.watchTime()
          }
        }, 1)
      }
    };

    get noMediaOrWordSelected (): Boolean {
      return this.selectedWords === null || !this.selectedWords.length || !this.media;
    };
  }
</script>
<style scoped lang="scss">
  #player {
    margin: 10px;clear: both;
    line-height: 22px;
    p {
      white-space: pre;
    }
    p:empty {
      display: block;
      visibility: visible;
    }
  }
</style>