<template>
  <span contenteditable="true" class="words">
    <template v-for="(word, index) in words">
      <span
          :key="index"
          :class="wordClass(index, word)"
          :data-word-id="data.id + '_' + index"
          @contextmenu.prevent="$emit('word-context', $event)"
      >{{word.content + (word.separator || '')}}</span>
      <span class="separator" :key="'s' + index">{{' '}}</span>
    </template>
  </span>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from 'vue-property-decorator';
  import {SectionInterface} from "@/Interfaces/SectionInterface";
  import {selectedWordIds} from "@/Services/helpers/VuexGetters";
  import {Getter} from "vuex-class";
  import {WordInterface} from "@/Interfaces/WordInterface";

  @Component export default class SectionWords extends Vue {
    @Prop({default: null}) data: SectionInterface;
    @Prop({default: false}) sectionIsActive: boolean;

    @Getter('currentTime') currentTime: number;
    @Getter('playingMediaEnd') playingMediaEnd: number;
    @Getter('playingMediaStart') playingMediaStart: number;
    @Getter('mediaLength') mediaLength: number;
    @Getter('scrollIntoViewEnabled') scrollIntoViewEnabled: number;
    @Getter('needToSelectPlayingSegments') needToSelectPlayingSegments: number;
    @Getter('media') media: HTMLMediaElement;

    get words() {
      if (this.data.words.length === 1 && this.data.words[0].content === '') {
        this.data.words[0].content = ' ';
      }
      return this.data.words;
    }

    scrollToViewIfNeeded (wordId: number) {
      const elm = document.querySelector("[data-word-id='" + this.data.id + '_' + wordId + "']");
      if (elm) {
        const rect = elm.getBoundingClientRect();
        const viewHeight = Math.max(document.documentElement.clientHeight, window.innerHeight);
        const visible = !(rect.bottom < 0 || rect.top - viewHeight >= 0);
        if (!visible) {
          elm.scrollIntoView({ behavior: 'smooth', block: 'center'});
        }
      }

    }

    wordClass (wordId: number, word: WordInterface): any {
      const playing = this.currentTime >= word.start && this.currentTime < word.end;

      let marked = false;
      if (this.media.paused) {
        marked = this.needToSelectPlayingSegments && this.sectionIsActive && selectedWordIds() && selectedWordIds().includes(wordId);
      } else {
        marked = this.playingMediaStart <= word.end && this.playingMediaEnd >= word.start;
      }
      this.scrollIntoViewEnabled && playing && this.scrollToViewIfNeeded(wordId);
      return {
        word: true,
        marked,
        playing
      }
    }

  }
</script>

<style scoped>
  .words {
    clear: both;
    display: block;
  }

  span.hidden {
    color: lightgray;
  }

  .word {
    white-space:pre;
    font-size: 22px;
    background-color: #ffffff;
  }

  .separator {
    #background-color: #ffefe4;
  }

  .marked {
    background-color: #F4F1DE;
  }

  .guessed {
    display: inline-block;
    position: relative;
  }

  .playing {
    background-color: #9ff8a1;
  }

  .alternatives {
    font-weight: bold;
  }
</style>