<template>
  <div class="section-speaker no-select" contenteditable="false">
    <span @click="showModal" id="speakerName" class="no-select">{{speaker}}</span>
    <span class="playSection no-select" @click="$emit('playSection', sectionId)"><span class="timestamp-play"></span> {{ formatSeconds }}</span>
    <modal :name="'speakerName' + sectionId"
           :width=200
           :height="'auto'"
           :adaptive=true
           :draggable=false
           :clickToClose=false
           @before-open="beforeModalOpen"
           @opened="modalOpened"
           @before-close="beforeModalClose"
    >
      <div id="speakerNameModal">
        <p><input type="checkbox" id="checkbox" v-model="changeAll" /><label v-html="$t('modal.change_all', {speaker_name: speaker})" /></p>
        <p><input ref="speakerName" type="text" v-model="speakerName" autofocus /></p>
        <span
            :key="index"
            class="otherSpeaker"
            v-for="(otherSpeaker, index) in otherSpeakers"
            @click="clickedOnSpeakerName(otherSpeaker)"
        >
          {{otherSpeaker}}
        </span>
        <div class="bottom-buttons">
          <button @click="closeModal">{{ $t('messages.yes') }}</button> &nbsp;
          <button class="cancel" @click="escapeClicked">{{ $t('messages.no') }}</button>
        </div>
      </div>
    </modal>
  </div>
</template>

<script lang="ts">
    import {Prop, Vue, Component} from "vue-property-decorator";
    import {Getter, Mutation} from "vuex-class";
    import {SectionInterface} from "@/Interfaces/SectionInterface";
    import {formatSeconds} from "@/Services/helpers/TimeFormatter";
    import {EventBus} from "@/Services/helpers/EventBus";
    import {HotKeyActions, HotKeyCtrlActions} from "@/Services/HotKeyService";
    import {caretPosition} from "@/Services/helpers/VuexGetters";

    @Component export default class SpeakerComponent extends Vue {
      @Prop({default: null}) speaker: string;
      @Prop({default: null}) sectionId: number;
      @Prop({default: null}) sectionStart: number;

      @Getter('speakers') speakers: string[];
      @Getter('sections') sections: SectionInterface[];
      @Getter('selectedSectionId') selectedSectionId: number;
      @Getter('modalIsVisible') modalIsVisible: boolean;
      @Getter('selectedWordIds') selectedWordIds: number[];
      @Getter('media') media: HTMLMediaElement;

      @Mutation('changeActiveSectionSpeaker') changeActiveSectionSpeaker: (speakerName: string) => void;
      @Mutation('setSelectedSectionId') setSelectedSectionId: (selectedSectionId: number) => void;
      @Mutation('setSelectedWordIds') setSelectedWordIds: (setSelectedWordIds: [number]) => void;
      @Mutation('switchSpeakerInAllSections') switchSpeakerInAllSections: ({from, to}) => void;
      @Mutation('addSpeakerIfRequired') addSpeakerIfRequired: (speakerName: string) => void;
      @Mutation('setModalVisibility') setModalVisibility: (modalVisible: boolean) => void;

      speakerName: string = null;
      changeAll: boolean = false;

      showModal() {
        //@ts-ignore
        this.$modal.show('speakerName' + this.sectionId);
      }

      closeModal() {
        //@ts-ignore
        this.$modal.hide('speakerName' + this.sectionId);
      }

      get otherSpeakers(): string[] {
        const allSpeakers = this.speakers.filter(speaker => speaker && speaker != this.speaker);
        return allSpeakers.splice(0, 10);
      }

      get formatSeconds(): string {
        return formatSeconds(this.sectionStart);
      }

      clickedOnSpeakerName(speakerName: string):void {
        this.speakerName = speakerName;
      }

      beforeModalOpen() {
        EventBus.$on(HotKeyActions.Escape, this.escapeClicked);
        EventBus.$on(HotKeyActions.Enter, this.enterClicked);
        this.setModalVisibility(true);
        this.speakerName = this.speaker;
      }

      modalOpened() {
        this.$nextTick(function () {
          //@ts-ignore
          this.$refs.speakerName.focus();
        })
      }

      beforeModalClose(e) {
        EventBus.$off(HotKeyActions.Escape, this.escapeClicked);
        EventBus.$off(HotKeyActions.Enter, this.enterClicked);
        this.setModalVisibility(false);

        this.setSelectedSectionId(this.sectionId);

        if (this.speakerName == this.speaker) {
          return;
        }

        this.addSpeakerIfRequired(this.speakerName);
        if (this.changeAll || !this.currentSpeakerIsAlsoUsedInOtherSections()) {
          this.switchSpeakerInAllSections({from: this.speaker, to: this.speakerName});
        } else {
          this.changeActiveSectionSpeaker(this.speakerName);
        }
        this.changeAll = false;

        const playedBefore = !this.media.paused;
        this.setModalVisibility(false);

        if (!playedBefore) {
          return;
        }

        this.$nextTick(() => {
          const mediaTime = this.media.currentTime;

          setTimeout(() => {
            if (this.selectedWordIds.length == 0) {
              const playingSection = this.sections.find(section => section.start <= mediaTime && section.end > mediaTime);
              if (!playingSection) {
                console.error('unable to find playing section');
                return;
              }
              const playingWordId = playingSection.words.findIndex(word => word.start <= mediaTime && word.end > mediaTime);
              if (!playingWordId) {
                console.error('unable to find playing word');
                return;
              }
              this.setSelectedSectionId(playingSection.id);
              this.setSelectedWordIds([playingWordId]);
            }
            if (playedBefore && this.media.paused) {
              EventBus.$emit(HotKeyCtrlActions.p);
            }
          }, 100);
        });
      }

      /**
       * kursoriaus padėtis atstatoma į prieš tai buvusią po play mygtuko paspaudimo
       */
      restoreCursorPositionFromState = () => {
        const selection = caretPosition();
        this.$nextTick(() => {
          if (!selection) {
            return;
          }
          selection.resetSelection();
          selection.removeSelection(true);
        });
      };

      escapeClicked() {
        if (!this.modalIsVisible) {
          return;
        }
        this.undoChanges();
        this.closeModal();
      }

      enterClicked() {
        if (!this.modalIsVisible) {
          return;
        }
        this.closeModal();
      }

      undoChanges() {
        this.speakerName = this.speaker;
      }

      currentSpeakerIsAlsoUsedInOtherSections() {
        for (const section of this.sections) {
          if (section.id != this.sectionId && section.speaker == this.speaker) {
            return true;
          }
        }
        return false;
      }
    }
</script>

<style lang="scss" scoped>
  .section-speaker {
    position: relative;
    display: block;
    clear: both;
    clear: both;
  }

  .no-select {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }

  .section-speaker span {
    display: block;
    float: left;
  }

  span#speakerName {
    cursor: pointer;
    color: #25b9c8;
  }

  span#speakerName:hover, span#speakerName:active {
    -webkit-transition: color .15s ease-in;
    transition: color .15s ease-in;
    transition-property: color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    color: #2c3e50;
  }

  span.playSection {
    color:#777;
    margin: 0 0 0 15px;
  }

  span.playSection:active, span.playSection:hover {
    cursor: pointer;
    -webkit-transition: color .15s ease-in;
    transition: color .15s ease-in;
    transition-property: color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    color: #111;
  }

  #speakerNameModal {
    padding: 0px 10px 20px 10px;
    font-size: 14px;
    overflow: auto;
    height:auto;
    position: relative;
    width:auto;
    .bottom-buttons {
      position: absolute;
      right: 5px;
      bottom: 10px;
      button {
        font-size: 11px;
        display: block;
        float: left;

      }
      button.cancel {
        color: darkred;
        margin: 0 0 0 5px;
      }
    }
  }

  .otherSpeaker {
    float: left;
    display: block;
    clear: both;
    color: #777;
    margin: 2px 0;
  }
  .otherSpeaker:active, .otherSpeaker:hover {
    cursor: pointer;
    -webkit-transition: color .15s ease-in;
    transition: color .15s ease-in;
    transition-property: color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    color: #000;
  }

  .timestamp-play {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 9' fill='%23888'%3E%3Cpath d='M7.87 4.68L.317 8.957c-.087.05-.162.056-.224.018C.03 8.936 0 8.867 0 8.766V.234c0-.1.031-.17.094-.209.062-.038.137-.033.224.018L7.87 4.32c.087.05.131.11.131.18 0 .07-.044.13-.13.18z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50%;
    width: 7px;
    height: 9px;
    margin-right: 0.25rem;
    padding: 15px 0 0 0;
  }
</style>