<template>
  <div id="transcription">
    <div id="left-pane">
      <div class="content">
        <VideoPreview />
        <Progress />
        <PlayerButtons />
      </div>
    </div>
    <div id="right-pane">
      <Player />
      <ExportButton />
      <UndoButton />
      <RedoButton />
      <HotKeyListener />
      <ClipboardEventsListener />
      <h3></h3>
      <p class="section"
         v-for="section in sections"
         :key="section.id"
         :data-key="section.id"
         @keydown="(e) => {markSelectedWordsAndSection(e); onKeyPress(e); }"
         @keyup="(e) => {markSelectedWordsAndSection(e)}"
         @mouseup="markSelectedWordsAndSection($event)"
         @dblclick="playAPortion($event)"
         @paste.prevent="onPaste($event)"
         @dragover.prevent.stop=""
         @drop.prevent.stop=""
         @input="onInput"
         spellcheck="false"
      >
        <SpeakerComponent
            :key="'sm' + section.id"
            :speaker="section.speaker"
            :sectionId="section.id"
            :sectionStart="section.start"
            @playSection="selectAndPlaySection"
        />
        <SectionWords
            :key="'sw' + section.id"
            :sectionIsActive="selectedSectionId === section.id"
            :data="section"
            @word-context="(e) => { markSelectedWordsAndSection(e); }"
        />
      </p>
    </div>

  </div>
</template>

<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';
import {Action, Getter, Mutation} from 'vuex-class';
  import {SectionInterface} from '@/Interfaces/SectionInterface';
  import KeyPressService from '@/Services/KeyPressService';
  import SectionWords from "@/components/SectionWords.vue";
  import SelectService from "@/Services/SelectService";
  import ModificationService from "@/Services/ModificationService";
  import {replaceActiveSectionWords} from '@/Services/helpers/VuexMutations';
  import SpeakerComponent from '@/components/SpeakerComponent.vue';
  import {selectedSectionId} from "@/Services/helpers/VuexGetters";
  import Player from "@/components/Player.vue";
  import ExportButton from "@/components/Buttons/ExportButton.vue";
  import UndoButton from "@/components/Buttons/UndoButton.vue";
  import RedoButton from "@/components/Buttons/RedoButton.vue";
  import router from "@/router";
  import {EventBus} from "@/Services/helpers/EventBus";
  import ClipboardEventsListener from "@/components/ClipboardEventsListener.vue";
  import {HotKeyActions, HotKeyCtrlActions} from "@/Services/HotKeyService";
  import Progress from "@/components/Media/Progress.vue";
  import VideoPreview from "@/components/Media/VideoPreview.vue";
  import PlayerButtons from "@/components/Media/PlayerButtons.vue";

  @Component({
    components: {
      Progress,
      ClipboardEventsListener,
      RedoButton,
      SectionWords,
      SpeakerComponent,
      Player,
      ExportButton,
      UndoButton,
      VideoPreview,
      PlayerButtons
    }
  })
  export default class TranscriptionEditComponent extends Vue {
    @Getter('sections') sections: SectionInterface[];
    @Getter('selectedWordIds') selectedWordIds: number[];
    @Getter('selectedSectionId') selectedSectionId: number;
    @Getter('perPage') perPage: number;
    @Getter('currentPage') currentPage: number;
    @Getter('speakers') speakers: string[];
    @Getter('currentTime') currentTime: number;
    @Getter('media') media: HTMLMediaElement;
    @Getter('modalIsVisible') modalIsVisible: boolean;

    @Action('selectAllSectionWords') selectAllSectionWords: (sectionId: number) => void;

    @Mutation('updateCurrentTime') updateCurrentTime: () => void;
    @Mutation('setExtendPlayingRange') setExtendPlayingRange: (extendPlayingRange: boolean) => {};

    mounted() {
      let err: string[] = [];
      if (!this.sections || !this.sections.length) {
        this.$notify({
          text: this.$t("messages.transcription_not_loaded").toString(),
          type: 'error',
        })
        router.push({ name: 'import'})
      }

      EventBus.$on(HotKeyActions.Escape, this.removeSelection);
    }

    destroyed() {
      EventBus.$off(HotKeyActions.Escape, this.removeSelection);
    }

    removeSelection(event) {
        if (this.modalIsVisible) {
          return;
        }
      //nenaudojant next tick, selectas nenuimamas
      this.$nextTick(() => {
        if (this.modalIsVisible) {
          return;
        }
        new SelectService().removeSelection();
        this.media.currentTime = null;
        this.updateCurrentTime();
      })
    }

    // vartotojas paspaudė
    markSelectedWordsAndSection(e) {
      if (this.modalIsVisible) {
        return;
      }
      this.$nextTick(() => {
        if (this.modalIsVisible) {
          return;
        }
        const selService = new SelectService();
        selService.saveSelectedWordsAndSectionToState();
      })
    }

    playAPortion(e) {
      if (this.modalIsVisible) {
        return;
      }
      this.media.pause();
      this.setExtendPlayingRange(true);
      this.$nextTick(() => {
        const selService = new SelectService();
        selService.saveSelectedWordsAndSectionToState();
        EventBus.$emit(HotKeyCtrlActions.p);
      })
    }

    selectAndPlaySection(sectionId: number) {
      this.$nextTick(() => {
        new SelectService().removeSelection();

        this.selectAllSectionWords(sectionId);
        !this.media.paused && this.media.pause();
        EventBus.$emit(HotKeyCtrlActions.p);
      })
    }

    onInput(e) {
      if (this.inputFieldEvent(e) || this.modalIsVisible) { //jeigu paspaudimas buvo input fielde, šio metodo nenaudojam
        return;
      }

      this.$notify({
        text: this.$t("messages.unauthorized_action").toString(),
        type: 'error',
      });
      //reloadinam komponentą, kad nesimatytų pakeitimų
      router.replace('/');
      this.$nextTick(() => router.replace({ name: 'transcription-edit', params: { locale: this.$i18n.locale }}));
    }

    onPaste(e) {
      if (this.modalIsVisible) {
        return;
      }
      //pastinam plain text
      let text = (e.originalEvent || e).clipboardData.getData('text/plain');

      const selectionService = new SelectService();
      const keyPressService = new KeyPressService(e);
      if (!selectionService || !keyPressService || selectedSectionId() === null) {
        return;
      }
      const modificationService = new ModificationService(keyPressService, selectionService);
      modificationService.makeContentChanges(text);
      this.makeChangesAndMoveCursor(modificationService, selectionService);
    }

    //eventas buvo įvykdytas input fielde
    inputFieldEvent(e): boolean {
      const obj = e.composedPath()[0];
      return obj instanceof HTMLInputElement || obj instanceof HTMLButtonElement;
    }

    onKeyPress(e: KeyboardEvent) {
      if (this.modalIsVisible) {
        return;
      }
      if (this.inputFieldEvent(e)) { //jeigu paspaudimas buvo input fielde, šio metodo nenaudojam
        return;
      }

      const selectionService = new SelectService();
      const keyPressService = new KeyPressService(e);
      if (!selectionService || !keyPressService || selectedSectionId() === null) {
        e.preventDefault();
        return;
      }
      const modificationService = new ModificationService(keyPressService, selectionService);
      if (e.key.length > 1 && !modificationService.supportedFunctionalKeys.includes(e.key) && !keyPressService.supportedKeys.includes(e.key))
      {
        return;
      }
      if (keyPressService.ctrlKey) { //čia gali būti greitojo klavišo funkcija
        if (keyPressService.keyPressed === 'x') { //cut eventas,
          keyPressService.keyPressed = 'Delete'   //turim trinti pažymėtą tekstą
          EventBus.$emit('copy', e);        //turim nukopijuoti pažymėtą tekstą
        } else {
          return;
        }
      }
      e.preventDefault();

      if (keyPressService.navigationKeyPressed()) {
        keyPressService.respondToNavigationKeyPress(selectionService);
      } else {
        this.makeChangesAndMoveCursor(modificationService, selectionService);
      }
    }

    makeChangesAndMoveCursor (modificationService: ModificationService, selectionService:SelectService) {
      replaceActiveSectionWords(modificationService.getModifiedSectionWords());
      this.$nextTick(() => {
        selectionService.moveCursorXPosition(modificationService.getCursorMove());
        if (selectionService.range) {
          //pataisom aktyvius žodžius ir sekciją būsenoje
          const sel = new SelectService();
          sel.saveSelectedWordsAndSectionToState();
        }
      });
    };
  }
</script>

<style lang="scss">
  #transcription {
    position: relative;
    #left-pane, #right-pane {
      margin: 10px;
    }

    #left-pane {
      position: fixed;
      width: 30%;
      top: 80px;
      left: 0;
    }

    #right-pane {
      padding-left: 32%;
      height: 100%;
      overflow: auto;
      outline: none;
    }
  }

  #transcription:after {
    content: "";
    display: table;
    clear: both;
  }

  .section {
    position: relative;
    margin: 0;
  }

  .section, .section:focus, .words, .words:focus, .separator {
    outline: 0px solid transparent;
    clear: both;
    font-size: 22px;
    font-family: "roboto,sans-serif";
  }

  ul.v-context {
    li.contextMenuHeading {
      text-align: center;
      background-color: #F4F1DE;
      padding: 5px;
      margin: -10px 0 0 0 !important;
      font-weight: bold;
    }

    li.joinSplitSection a, li.joinSplitSection a:hover, li.joinSplitSection a:active {
      border-bottom: 1px solid #333333;
      border-top: 1px solid #333333;
      background-color: #ffefe4;
      color: #333;
      cursor: pointer;
    }

    li {
      display: block;
      position: relative;
      span {
        position: absolute;
        width: 22px;
        height :100%;
        line-height: 22px;
        display: block;
        float: left;
      }
    }
  }
</style>