<template>
  <div id="transcription">
      <h3>{{$t("transcription_edit.view_transcription")}}</h3>
      <p class="section"
         v-for="section in sections"
         :key="section.id"
         :data-key="section.id"
         spellcheck="false"
      >
        <span class="speaker-name">
          {{speakerInfo(section)}}
        </span>
        <span class="words">
          <template v-for="word in section.words">
            {{word.content + (word.separator || '')}}
          </template>
        </span>
      </p>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {Getter} from 'vuex-class';
import {SectionInterface} from '@/Interfaces/SectionInterface';
import SectionWords from "@/components/SectionWords.vue";
import SpeakerComponent from '@/components/SpeakerComponent.vue';
import Player from "@/components/Player.vue";
import ExportButton from "@/components/Buttons/ExportButton.vue";
import UndoButton from "@/components/Buttons/UndoButton.vue";
import RedoButton from "@/components/Buttons/RedoButton.vue";
import ClipboardEventsListener from "@/components/ClipboardEventsListener.vue";
import Progress from "@/components/Media/Progress.vue";
import VideoPreview from "@/components/Media/VideoPreview.vue";
import PlayerButtons from "@/components/Media/PlayerButtons.vue";
import {formatSeconds} from "@/Services/helpers/TimeFormatter";
import router from "@/router";

@Component({
  components: {
    Progress,
    ClipboardEventsListener,
    RedoButton,
    SectionWords,
    SpeakerComponent,
    Player,
    ExportButton,
    UndoButton,
    VideoPreview,
    PlayerButtons
  }
})
export default class TranscriptionTextComponent extends Vue {
  @Getter('sections') sections: SectionInterface[];
  @Getter('speakers') speakers: string[];

  mounted() {
    let err: string[] = [];
    if (!this.sections || !this.sections.length) {
      this.$notify({
        text: this.$t("messages.transcription_not_loaded").toString(),
        type: 'error',
      })
      router.push({ name: 'import'})
    }
  }

  speakerInfo(section: SectionInterface) {
    return section.speaker + '(' + formatSeconds(section.start) + ')';
  }
}
</script>

<style scoped lang="scss">
  h3 {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  .section {
    border-left: 4px solid #ffefe4;
    border-bottom: 1px solid #2c3e50;
    position: relative;
    padding: 0 0 0 35px;
    margin: 0;
  }
  .plain {
    border-bottom: none !important;
  }
  .section, .section:focus, .words, .words:focus, .separator {
    outline: 0px solid transparent;
    clear: both;
    font-size: 22px;
    font-family: "Lucida Console", Monaco, monospace;
  }
  #transcription {
    padding: 25px 0;
  }
  .speaker-name {
    font-weight: bold;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
</style>