<template>
  <div @click="refreshProgressFromClick" ref="listenTo" class="progress-wrapper">
    <div :style="'width:' + progress + '%'" class="progress"></div>
    <div id="time-line">
      <strong>{{ currentTimeFormatted }}</strong>
      <div id="left">
      {{ firstSectionStartTimeFormatted }}
      </div>
      <div id="right">
      {{ lastSectionEndTimeFormatted }}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {Vue, Watch} from "vue-property-decorator";
import {Action, Getter, Mutation} from "vuex-class";
import Component from "vue-class-component";
import {SectionInterface} from "@/Interfaces/SectionInterface";
import {WordInterface} from "@/Interfaces/WordInterface";
import SelectService from "@/Services/SelectService";
import {formatSeconds} from "@/Services/helpers/TimeFormatter";
import { selectedSectionWords } from '@/Services/helpers/VuexGetters';
import {EventBus} from "@/Services/helpers/EventBus";

@Component export default class Progress extends Vue {
  @Getter('currentTime') currentTime: number;
  @Getter('sections') sections: SectionInterface[];
  @Getter('transcriptionLength') transcriptionLength: number;
  @Getter('media') media: HTMLMediaElement;
  @Getter('selectedWords') selectedWords: WordInterface[];
  @Getter('selectedWordIds') selectedWordIds: number[];
  @Getter('selectedSectionId') selectedSectionId: number;

  @Mutation('setSelectedSectionId') setSelectedSectionId: (selectedSectionId: number) => void;
  @Mutation('setSelectedWordIds') setSelectedWordIds: (selectedWordIds: number[]) => void;
  @Mutation('updateCurrentTime') updateCurrentTime: () => void;

  @Action('renewMediaCurrentTimeBySelectedWords') renewMediaCurrentTimeBySelectedWords: () => void;

  progress: number = 0;
  wrapperWidth: number = 0;
  mediaWasPlaying: boolean = null;

  mounted() {
    if (!this.progress && this.currentTime) {
      this.currentTimeChange(this.currentTime);
    }
  }

  get currentTimeFormatted(): string {
    return formatSeconds(this.currentTime);
  }

  get firstSectionStartTimeFormatted(): string {
    return formatSeconds(this.sections[0].start);
  }

  get lastSectionEndTimeFormatted(): string {
    return formatSeconds(this.sections[this.sections.length - 1].end);
  }

  refreshProgressFromClick (event) {
    let target = event.target;
    if (target.nodeType == 3) {
      target = target.parentNode; // fix for a safari bug
    }
    this.wrapperWidth = this.wrapperWidth || target.offsetWidth; // set initial wrapper width

    // get the seek width
    let seekWidth = event.offsetX;

    // change seek position
    this.progress = (seekWidth / this.wrapperWidth) * 100;

    //isimenu grojimo busena
    this.mediaWasPlaying = this.media.paused === false;
    //sustabdau grojima
    this.media.pause();

    //pašalinu visas žymas
    new SelectService().removeSelection();
  }

  @Watch('progress')
  progressChanged() {
    if (!this.media.paused) {
      return; //skipinam, jei groja
    }
    const timeFromProgressBar = this.transcriptionLength * this.progress / 100;
    const sectionAndSegment = this.getSectionAndSegmentIdByTime(timeFromProgressBar);
    if (sectionAndSegment) {
      const {sectionId, segmentId} = sectionAndSegment;

      //sekcijoje užsetinu aktyvų elementą
      this.setSelectedSectionId(sectionId);
      //pasiimu segmentus iki sekcijos pabaigos
      // const sectionWordIds = [...selectedSectionWords(sectionId).keys()].filter(idx => idx >= segmentId);
      this.setSelectedWordIds([segmentId]);
      //atnaujinti current time
      this.renewMediaCurrentTimeBySelectedWords();
      if (this.mediaWasPlaying) {
        //palaukiu, kol vaizdas pasislinks ir šaunu 'play' eventą
        setTimeout(()=>{
          EventBus.$emit('play');
        }, 1500);
        this.mediaWasPlaying = null;
      }
    }
  }

  @Watch('$store.getters.currentTime')
  currentTimeChange (currentTime) {
    this.progress = this.currentTime / this.transcriptionLength * 100;
  }

  getSectionAndSegmentIdByTime (time: number): {sectionId: number, segmentId: number} {
    if (time === null) {
      return null;
    }
    time = Math.round(time * 100) / 100;

    if (time == this.currentTime) {
      return null;
    }

    const section = this.sections.find(section => section.start <= time && section.end > time);
    if (!section) {
      return null;
    }

    let segmentId = section.words.findIndex(word => word.start >= time);
    if (segmentId === -1) {
      segmentId = section.words.length - 1;
    }

    //if found same results as state, then return null
    if (section.id == this.selectedSectionId && [segmentId] == this.selectedWordIds) {
      return null;
    }

    return {sectionId: section.id, segmentId};
  }

}
</script>

<style lang="scss" scoped>
  .progress-wrapper {
    display: block;
    height: 11px;
    margin: 5px 0;
    position: relative;
    background: #e1e1e1;
    border-radius: 5px;
    .progress {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: #FBC02D;
      border-radius: 5px;
    }
    #time-line {
      position: relative;
      text-align: center;
      clear: both;
      padding: 15px 0 0 0;
      font-size: 14px;
      #left {
        position: relative;
        float:left;
      }
      #right {
        position: relative;
        float:right;
      }
    }
  }
</style>