<template>
  <video v-if="mediaObjectUrl !== null" ref="videoRef" :src="mediaObjectUrl" id="video-container" width="100%"></video>
  <div v-else id="black-container"></div>
</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import {Getter, Mutation} from "vuex-class";

@Component export default class VideoPreview extends Vue {
  @Getter('media') media: HTMLMediaElement;
  @Getter('currentTime') currentTime: number;
  @Getter('mediaObjectUrl') mediaObjectUrl: string;

  @Mutation('setMedia') setMedia: (mediaObj) => void;

  mounted() {
    if (this.mediaObjectUrl && this.$refs.videoRef) {
      if (this.currentTime && this.$refs.videoRef) { //jei reikia, pareguliuojam video laiką
        //@ts-ignore
        this.$refs.videoRef.currentTime = this.currentTime;
      }
      this.setMedia(this.$refs.videoRef); //susiejam video instance su media state objektu
    }
  }
}
</script>

<style  lang="scss" scoped>
  #video-container {
    height: 100%;
    max-height: 300px;
  }
  #black-container {
    height:200px;
    width:100%;
    background-color: #333;
  }
</style>