<template>
  <div id="app">
    <TitleComponent />
    <BrowserNotSupported v-if="browserIsExplorer" />
    <template v-else>
      <notifications position="top center" classes="notification-style" />
      <LocaleSwitcher />
      <Navbar />
      <router-view/>
      <LengthChecker />
    </template>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Navbar from '@/components/Navbar.vue';
import LengthChecker from "@/components/LengthChecker.vue";
import BrowserNotSupported from "@/components/BrowserNotSupported.vue";
import LocaleSwitcher from "@/components/LocaleSwitcher.vue"

@Component({
  components: {
    Navbar,
    LengthChecker,
    BrowserNotSupported,
    LocaleSwitcher
  },
})
export default class App extends Vue {

  beforeMount() {
    window.addEventListener("beforeunload", this.preventNav)
  }

  beforeDestroy() {
    window.removeEventListener("beforeunload", this.preventNav);
  }

  preventNav(event) {
    event.preventDefault()
    event.returnValue = ""
  }

  get browserIsExplorer ():boolean {
    return  navigator.userAgent.indexOf("MSIE ") > 0 ||
      navigator.userAgent.indexOf("Trident") > 0 ||
      navigator.userAgent.indexOf("Edge") > 0;
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;

  margin: 70px 0; /* paliekam šiek tiek vietos paginatoriui ir navigacijai */

  h3 {
    text-align: center;
  }

  .notification-style {
    padding: 10px;
    margin: 10px 5px 5px;

    font-weight: 700;

    color: #ffffff;
    background: #44A4FC;
    text-align: center;
    border-radius: 10px;

    &.warn {
      background: #ffb648;
      border-left-color: #f48a06;
    }

    &.error {
      background: #E54D42;
      border-left-color: #B82E24;
    }

    &.success {
      background: #68CD86;
      border-left-color: #42A85F;
    }
  }
  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
</style>
