<template>
  <div>
    <h1>{{$t("hotkey_info.hotkeys")}}</h1>
    <div class="hot-key">
      <p class="key">ctrl</p><p>+</p><p class="key">p</p>
      <p class="explanation">{{$t("hotkey_info.play_stop")}}</p>
    </div>
    <div class="hot-key">
      <p class="key">ctrl</p><p>+</p><p class="key">s</p>
      <p class="explanation">{{$t("navbar.save")}}</p>
    </div>
    <div class="hot-key">
      <p class="key">ctrl</p><p>+</p><p class="key">z</p>
      <p class="explanation">{{$t("navbar.undo")}}</p>
    </div>
    <div class="hot-key">
      <p class="key">ctrl</p><p>+</p><p class="key">y</p>
      <p class="explanation">{{$t("navbar.redo")}}</p>
    </div>
    <div class="hot-key">
      <p class="key">Esc</p>
      <p class="explanation">{{$t("hotkey_info.deselect")}}</p>
    </div>
    <div class="hot-key">
      <p class="key">Tab</p>
      <p class="explanation">{{$t("hotkey_info.jump_to_next_section")}}</p>
    </div>
  </div>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";

  @Component({})
  export default class HotkeyInfo extends Vue {


  }
</script>

<style lang="scss" scoped>
  #app {
    .hot-key {
      display: block;
      clear: both;
      p {
        display: block;
        float:left;
        line-height: 32px;
        text-align: center;
        margin:10px 5px;
      }
      p.key {
        border: 1px solid gray;
        width: 32px;
        height: 32px;
        margin: 10px;
      }
    }
  }

</style>